<h1 class="header-text">
  Main Stream
</h1>

<div class="new_item_link">
  <%= link "+ Add Post", to: post_path(@conn, :new) %>
</div>

<%= render(
  Danton.PostView,
  "stream.html",
  posts: @posts,
  conn: @conn,
  total_pages: @total_pages,
  page_number: @page_number,
  base_url: "/front"
) %>