<%= render Danton.BreadcrumbleView, "breadcrumb.html", breadcrumb_trails: @breadcrumb_trails %>

<div class="form-header">
  <h1 class="header-text">
    New Post
  </h1>
</div>

<%=
action = if @channel_id == :none do
  post_path(@conn, :create)
  else
  channel_post_path(@conn, :create, @channel_id)
end

render "form.html", changeset: @changeset,
  action: action,
  channel_id: @channel_id,
  channels: @channels,
  clubs: @clubs,
  conn: @conn,
  post_id: :none
%>
