<h2>New post</h2>

<%= render "form.html", changeset: @changeset,
                        action: club_channel_post_path(@conn, :create, 1, 1) %>

<%= link "Back", to: club_channel_post_path(@conn, :index, 1, 1) %>
