<%= render Danton.BreadcrumbleView, "breadcrumb.html", breadcrumb_trails: @breadcrumb_trails %>

<div class="form-header">
  <h1 class="header-text">
    <%= link @post.title, to: parse_link(@post, :none, :none), class: "" %>
  </h1>
  <div class="form-header-info">
    <div class="form-header-info-unit">
      <%= if user_can_edit(@post, @conn.private.guardian_default_resource) do %>
        <%= link "Edit Post", to: post_path(@conn, :edit, @post), class: "" %>
      <% end %>
      Posted By: <%= @post.user.name %>
    </div>
  </div>
</div>

<div class="chat">
  <div id="messages" class="message-list">
    <%= if(length(@messages) === 0) do %>
      <div id="chat-prompt">
        <div> Nobody is talking 🙁 </div>
        <div> You can fix that! 😃 </div>
      </div>
    <% end %>


    <%= for message <- @messages do %>
      <div class="message <%=msg_class(message, @user_id)%>">
        <div class="message-user">
          <%= chat_name(message.user, @user_id) %>
          (<span class="message-time" data-time="<%= message.inserted_at%>"></span>)
        </div>
        <div class="message-body">
          <%= message.body %> - <%= message.inserted_at%>
        </div>
      </div>
    <% end %>
  </div>

  <div class="chat-input-holder">
    <input
      id="chat-input"
      class="form-control chat-input-box"
      data-postid="<%=@post.id%>"
      data-roomid="<%=@room_id%>"
      data-currentuserid="<%=@user_id%>"
    />
  </div>
</div>