<h2>
  Password Reset
</h2>

<%= form_tag user_path(@conn, :send_reset_email), [method: "POST"] do %>
  <div>
    <div class='control-group login-input'>
      <label class='control-label' for='email-input'>Email</label>
      <input class='form-control' type='email' name='email' value='<%= @conn.params["email"] %>' required/>
    </div>

    <button class='auth-form-btn'>
      Send Reset Email
    </button>
  </div>
 <% end %>