<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Relayd</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <%= render Danton.SharedView, "_flash_holder.html", conn: @conn %>

    <div class="head-links">
      <a id="head-link" href="/"> Home </a>
    </div>
    <div class="auth-container">
      <main role="main">
        <div class="main-content-holder">
          <%= render @view_module, @view_template, assigns %>
        </div>
      </main>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <%= render Danton.SharedView, "_footer.html", style: :clear %>
  </body>
</html>
