<%= render Danton.BreadcrumbleView, "breadcrumb.html", breadcrumb_trails: @breadcrumb_trails %>

<div class="form-header">
  <div class="header-text">
    Edit Club
  </div>
</div>

<%= render "form.html", changeset: @changeset, action: club_path(@conn, :update, @club), new_club: false %>
