<%= render Danton.BreadcrumbleView, "breadcrumb.html", breadcrumb_trails: @breadcrumb_trails %>

<div class="form-header">
  <h1 class="header-text">
    New Club
  </h1>
</div>

<%= render "form.html", changeset: @changeset, action: club_path(@conn, :create), new_club: true %>
