/* This file is for your main application css. */

/* BOOTSTRAP OVERRIDES */

.control-label {
  font-weight: 400;
}

.form-control {
  font-weight: 200;
}

/* ADDED CLASSES */

.stream-item-title {
  font-weight: 800;
  margin-right: 5px;
  display: inline-block;
}

.stream-item-links {
  display: inline-block;
}

.list-entry {
  border-left: solid 1px #ddd;
  margin-bottom: 2rem;
}

.form-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
}

.form-header-text {
  flex: 0 1 auto;
  font-size: 1.8rem;
  font-weight: 400;
  margin: 10px 0px;
}

.form-header-nav {
  flex: 0 1 auto;
  padding-left: 10px;
}

.form-header-info {
  flex: 1 0 100%;
  display: flex;
  flex-wrap: wrap;
}

.form-header-info-unit {
  flex: 1 0 100%;
}

.associations {
  margin-top: 20px;
}

.association-header {
  margin: 10px 0px;
  font-size: 1.8rem;
  font-weight: 400;
}

.new_item_link {
  margin: 20px 0px;
}

/* CHAT */

.chat {
  border-top: solid 1px #ddd;
}

.message {
  margin-top: 10px;
  padding: 5px;
  text-align: right;
  border-radius: 3px;
}

.message-list {
  max-height: 35rem;
  overflow-x: scroll;
}

.message-current-user {
  background-color: #d4e7f7;
}

.message-other-user {
  background-color: #efefef;
}

.message-user {
  font-size: 1rem;
  font-weight: 600;
}

.message-body {

}

.chat-input-holder {
  border-top: solid 1px #aaa999;
  margin-top: 10px;
  padding : 10px 0px;
}

/* LOGIN AND SIGN UP */

.login-header {
  font-size: 1.8rem;
  font-weight: 800;
}

.login-input {
  margin: 15px 0px;
}

.login-button {
  margin: 20px 0px;
}

.login-or {
  margin: 0px 5px;
}

.login-sign-up {
  margin: 0px 5px;
}