/* This file is for your main application css. */

/* DUPED BOOTSTRAP OVERRIDES */

.control-label {
  font-weight: 400;
}

.form-control {
  font-weight: 200;
}

/* INDEX SPECIFIC */

.index-body {
  width: 100%;
  position: static;
}

.index-recap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.index-head {
  height: 50rem;
  width: 100%;
  background-image: linear-gradient(20deg, #D69356 0%, #6495ED 100%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.index-center {
  width: 100%;

  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  max-width: 65rem;
}

.index-title {
  color: #fff;
  font-size: 7rem;
  font-weight: 800;
}

.index-title-separator {
  height: 1px;
  width: 17rem;
  border-top: solid 1px #fff;
  margin: 1rem;
}

.index-subtitle {
  color: #fff;
  font-size: 1.8rem;
  margin: 1rem;
}

.index-features{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.index-sign-up {
  border: none;
  border-radius: 20px;
  font-size: 2rem;
  width: 20rem;
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem;
}

#index-sign-up-top {
  background-color: #fff;
  color: #6495ED;
}

#index-sign-up-top:focus {
  background-color: #ddd;
}

#index-sign-up-bottom {
  background-image: linear-gradient(20deg, #D69356 0%, #6495ED 100%);
  color: #fff;
}

#index-sign-up-bottom:focus {}

.index-feature-title {
  text-align: center;
  font-size: 2.7rem;
  color: #333;
}

.index-head-links {
  width: 98%;
  text-align: right;
  position: absolute;
  margin: 1rem;
}

#index-head-sign-in-link {
  color: white;
  padding: 1rem;
  font-size: 1.6rem;
}

.index-feature {
  flex: 1 1 auto;
  font-size: 2rem;
  margin: 3rem 0rem;
}

.index-feature-image {
  margin-bottom: 1.5rem;
}

#index-group-image {
  width: 17rem;
}

#index-signal-image {
  height: 17rem;
  width: 17rem;
}

#index-feed-image {
  height: 15rem;
}