<h1 class="header-text">
  Tags
</h1>

<div class="container-fluid">
<%= for tag <- @tags do %>
  <div class="row list-entry">
    <div class="col-xs-12 col-md-12">
      <strong>
        <%= link tag.name, to: tag_path(@conn, :show, tag), class: "" %>
      </strong>
      - <%= post_count_string(tag) %>
    </div>
  </div>
<% end %>

<%= render Danton.SharedView, "_pager.html", total_pages: @total_pages, page_number: @page_number, base_url: @base_url %>
</div>

