<h1 class="header-text">
  Invite Member
</h1>

<%= render "form.html", changeset: @changeset, action: club_membership_path(@conn, :create, @club.id) %>

<%= link "Back", to: membership_path(@conn, :index) %>
