<%= render Danton.BreadcrumbleView, "breadcrumb.html", breadcrumb_trails: @breadcrumb_trails %>

<div class="flex-wrapper">
  <h1 class="header-text">
    Invite Member
  </h1>
</div>

<%= render "form.html", changeset: @changeset, action: club_membership_path(@conn, :create, @club.id) %>