<h2>Show membership</h2>

<ul>

  <li>
    <strong>Status:</strong>
    <%= @membership.status %>
  </li>

  <li>
    <strong>Type:</strong>
    <%= @membership.type %>
  </li>

  <li>
    <strong>User:</strong>
    <%= @membership.user_id %>
  </li>

  <li>
    <strong>Club:</strong>
    <%= @membership.club_id %>
  </li>

</ul>

<%= link "Edit", to: membership_path(@conn, :edit, @membership) %>
<%= link "Back", to: membership_path(@conn, :index) %>
