<footer class="<%=footer_class(@style)%>">
  <div class="footer-text">
    <div class="footer-item footer-about-link">
      <a href="/about">About Relayd </a> | Get in touch at: <a href="mailto:hello@relayd.com"> hello@relayd.com</a>
    </div>
  </div>
</footer>