<div class="form-header">
  <div class="form-header-text">
    Edit Channel
  </div>
  <div class="form-header-nav">
    <%= link "Back", to: channel_path(@conn, :index) %>
  </div>
</div>

<%= render "form.html", changeset: @changeset, action: channel_path(@conn, :update, @channel), club_id: @channel.club_id, clubs: :empty %>
