<h1 class="header-text">
  Tags
</h1>
<div class="new_item_link">
  <%= link "+ Add Tag", to: channel_path(@conn, :new) %>
</div>

<%= render Danton.ChannelView, "channel_list.html", channels: @channels, conn: @conn, total_pages: @total_pages, page_number: @page_number, base_url: "/channels" %>