<h2>New channel</h2>

<%= render "form.html", changeset: @changeset,
                        action: club_channel_path(@conn, :create, @club_id) %>

<%= link "Back", to: club_channel_path(@conn, :index, @club_id) %>
