<div class="form-header">
  <div class="form-header-text">
    New Club
  </div>
  <div class="form-header-nav">
    <%= link "Back", to: club_channel_path(@conn, :index, @club_id) %>
  </div>
</div>

<%= render "form.html", changeset: @changeset, action: club_channel_path(@conn, :create, @club_id) %>
