<%= render Danton.BreadcrumbleView, "breadcrumb.html", breadcrumb_trails: @breadcrumb_trails %>

<div class="form-header">
  <h1 class="header-text">
    New Channel
  </h1>
</div>

<%=
action = if @club_id == :none do
  channel_path(@conn, :create)
else
  club_channel_path(@conn, :create, @club_id)
end

render "form.html", changeset: @changeset,
  action: action,
  club_id: @club_id,
  clubs: @clubs
%>
