<h3><%= @channel.name %></h3>
<ul>
  <li>
    <strong>Description:</strong>
    <%= @channel.description %>
  </li>

  <li>
    <strong>Club:</strong>
    <%= @club.name %>
  </li>
</ul>

<%= link "Edit", to: channel_path(@conn, :edit, @channel) %>
<%= link "Back", to: club_channel_path(@conn, :index, @channel.club_id) %>

<div>
  <h3>Posts:</h3>
  <%= render Danton.PostView, "stream.html", posts: @posts, conn: @conn %>
</div>
